.listed-games {
	background-color: rgb(110, 204, 204);

	h2 {
		font-size: 50px;
		font-family: "Staatliches", cursive;
		text-align: center;
		margin-top: 40px;
	}

	h3 {
		font-size: 40px;
		font-family: "Staatliches", cursive;
		text-align: center;
		margin-top: 20px;
		color: white;
	}

	.game-list {
		margin-top: 10px;
	}
}
