.home {
	background-color: lavenderblush;

	h1 {
		font-family: "Staatliches", cursive;
		font-size: 75px;
		text-align: center;
		padding-top: 20px;
		text-decoration: underline;
	}

	h3 {
		font-family: "Staatliches", cursive;
		text-align: center;
		font-size: 50px;
	}

	span {
		color: rgb(189, 26, 189);
		font-family: "Staatliches", cursive;
		font-size: 50px;
	}

	.contact {
		text-align: center;
		.contact-us {
			color: rgb(238, 135, 97);
		}
		.contact-links {
			color: rgb(23, 135, 172);
			font-size: 30px;
		}
	}

	p {
		text-align: center;
		font-family: "Murecho", sans-serif;
		font-size: 20px;
	}
}
