.home {
	background-color: white;

	h1 {
		font-family: "Staatliches", cursive;
		font-size: 75px;
		text-align: center;
		padding-top: 20px;
	}

	h3 {
		font-family: "Staatliches", cursive;
		text-align: center;
		font-size: 50px;
		color: white;
		background-color: rgb(14, 13, 13);
	}

	span {
		color: rgb(164, 103, 221);
		font-family: "Staatliches", cursive;
		font-size: 50px;
	}

	.contact {
		text-align: center;

		.contact-us {
			margin-top: 10px;
			color: rgb(97, 99, 238);
		}
		.contact-links {
			color: rgb(129, 182, 231);
			font-size: 30px;
		}
	}

	p {
		text-align: center;
		font-family: "Murecho", sans-serif;
		font-size: 20px;
	}
}
