.saved-games {
	background-color: orange;

	h2 {
		font-family: "Murecho", sans-serif;
		text-align: center;
	}

	h4 {
		font-size: 50px;
		font-family: "Staatliches", cursive;
		text-align: center;
		margin-top: 50px;
	}
}
